/* card */
.cardhead {
    background: #2d3436;
    color: white;
}

.footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

/* component */
.hr-yellow {
    background: #f1c40f;
    height: 3px;
    width: 70%;
    float: left;
}

.text-bold {
    font-weight: bold;
}

.box-login {
    width: 90%;
    height: auto;
    margin: auto;
    background: #ecf0f1;
}

.box-left {
    float: left;
    width: 50%;
    height: 400px;
}

.box-right {
    float: left;
    width: 50%;
    height: 400px;
    background: url('/img/bg-cab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    padding: 2%;
}

.col-pnm {
    color: #000;
    border-bottom: 2px solid #95a5a6;
    padding: 1%;
    font-size: 1em;
}

.col-pnm :hover {
    background: #d4dedf;
}

.row a:hover {
    text-decoration: none;
}

.text-blink {
    animation: blinkText 1s infinite;
}

.pagination {
    float: right;
}

.tr_juara {
    background: #44bd32;
}


/* keyframe */
@keyframes blinkText {
    0% {
        color: #000;
    }

    49% {
        color: transparent;
    }

    50% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}
